@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
    --clr-white: #FEFEFE;
    --clr-grey3: #E5E5E8;
    --clr-grey2: #989897;
    --clr-grey1: #75797A;
    --clr-black: #000;
    --clr-secondary: #434458;
    --clr-primary2: #3FA9F5;
    --clr-primary1: #229af0;
    --ff-primary: 'Lato';
    --ff-secondary: 'Fira Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    overflow-x: hidden;
    letter-spacing: .5px;
}

input:-webkit-autofill {
  border: none;
  border-bottom: 1px solid var(--clr-grey2);
  -webkit-text-fill-color: var(--clr-white);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}