.kanban-config {
    position: relative;

    display: grid;
    grid-template-rows: 285px 100px 1fr;
    gap: 20px;
}

.kanban-config form,
.kanban-config .item-config {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 4px solid var(--clr-grey2);
}

.kanban-config .item-config {
    flex-direction: row;
    justify-content: space-between;
}

.kanban-config label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.kanban-config select,
.kanban-config input {
    height: 25px;
}

.kanban-config button {
    background: var(--clr-primary2);
    width: 100%;
    height: 60px;
    transition-duration: 0.25s;
}

.kanban-config button:hover {
    background: var(--clr-primary1);
    transform: translateY(2px);
}

.item-details textarea{
    height: 150px;
}

.details-button-container {
    display: flex;
    gap: 20px;
    height: 75px;
}

.item-details .details-button {
    width: 50%;
}

.cancel-button {
    color: var(--clr-grey1);
    background: white !important;
    border: 1px solid var(--clr-grey1) !important;
}