.user-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: hidden;
}

.user-form label {
    width: 100%;
    height: 100%;
}

.user-form input {
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    color: var(--clr-white);
    caret-color: var(--clr-primary1);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--clr-grey2);
}

.user-form h3 {
    color: var(--clr-white);
    font-weight: 300;
    font-size: 2rem;
}

.BiX {
    position: absolute;
    right: 5px;
    top: 5px;
    transform: scale(2);
}